<h1>Componente de uniformes de liga:</h1>
<style>
div{
    float: left;
}

.listado{
    margin-left: 30px;
}

form{
    width: 200px;
}

input[type="text"], span{
    display: block;
    width: 100%;
}
</style>
<div>
    <form #formUniforme="ngForm" (ngSubmit)="onSumit(); formUniforme.reset()">
        <p>
            <label>Marca:</label>
            <input type="text" name="marca" #marca="ngModel" [(ngModel)]="uniforme.marca" required>
            <span *ngIf="marca.touched && !marca.valid">
                ¡¡La marca del uniforme es incorrecto!!
            </span>
        </p>
        <p>
            <label>Precio:</label>
            <input type="text" name="precio" #precio="ngModel" [(ngModel)]="uniforme.precio" 
            required pattern="[0-9]+">
            <span *ngIf="precio.touched && !precio.valid">
                ¡¡El precio del uniforme es incorrecto!!
            </span>
        </p>
        <p>
            <label>Talla:</label>
            <input type="text" name="talla" #talla="ngModel" [(ngModel)]="uniforme.talla" 
            required pattern="[a-zA-Z#]+">
            <span *ngIf="talla.touched && !talla.valid">
                ¡¡La talla del uniforme es incorrecto!!
            </span>
        </p>

        <input type="submit" value="Guardar" [disabled]="!formUniforme.form.valid">
    </form>
</div>
<div class="listado">
    <h4>Listado de Uniformes: </h4>
        <ul>
            <li *ngFor="let uniforme of uniformes">
                {{uniforme.marca}} - {{uniforme.precio}} - {{uniforme.talla}}
            </li>
        </ul>
</div>